{% extends "enterprise/base.html" %}
{% load static %}
		
			{% block content %}
			

			 <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Bug Report</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li><a class="parent-item" href="#">Support</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active">Bug Report</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>Information required</header>
                                     
				                        
                                </div>
                                <div class="card-body" id="bar-parent">
                                    <form action="{% url 'bug_report_evaluate' %}" method="GET" id="form_sample_1" class="form-horizontal" >
                                        <div class="form-body">
                                        <div class="form-group row">
                                                <label class="control-label col-md-3">Email-ID
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="email"  name="email" data-required="1" value="{{request.session.email_of_user}}" class="form-control input-height" readonly/>
                                                    
                                                </div>
                                            </div>
    								<div class="form-group row">
                                                <label class="control-label col-md-3">Bug Name
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" name="bugname" data-required="1" placeholder="enter name" class="form-control input-height" required/> </div>
                                            </div>
                                        <div class="form-group row">
                                                <label class="control-label col-md-3">Upload Files
                                                 
                                                </label>
												<div class="col-md-5">
                                                    <input type="file" name="fileurl" data-required="1" placeholder="file location" class="form-control input-height" required/></div>
												 <!--<div class="fa-item col-md-3 col-sm-4 col-xs-12" ><i class="fa fa-upload"></i>upload</div>-->
											</div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Bug Details
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <textarea name="details" placeholder="bugdetails" class="form-control-textarea" rows="5" required></textarea>
                                            </div>
                                            </div>
											
											<div class="form-actions">
                                            <div class="row">
												<div class="offset-md-3 col-md-9">
                                                   <input  type="submit" class="btn btn-info" value="Report" ng-disabled=" myForm.email.$invalid"></input>
                                                    <a href="{% url 'base' %}" type="button" class="btn btn-default">Cancel</a>
                                                </div>
                                            	</div>
                                        	</div>
											
                                            </div>
                                            <br>
										</form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                
			
			            
			
			
			           
			<!-- end page content -->
</div>



{% endblock%} 
        <!-- end page container -->
		
        