{% extends "enterprise/settings_base.html" %}
			<!-- start page content -->
			{% block content %}
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Change Password</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Settings</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li><a class="parent-item" href="#">Profile Settings</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active">Change Password</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>Change Your Stenoclever Account Password</header>
                                     
				                        
                                </div>
                                <div class="card-body" id="bar-parent">
                                       
                                    <form method="POST" action="{% url 'change_password' %}" id="form_sample_1" class="form-horizontal" >
                                            <br><br>
                                        {%csrf_token%}
                                        {% if error_msg %}
                                         <span style="color:red;" >{{error_msg}}</span>{% endif %}  
                                        <div class="form-body">
                                        <div class="form-group row">
                                                <br>
                                                <label class="control-label col-md-3">Current Password
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="password" name="current"  placeholder="Enter your current account password" class="form-control input-height" required /> </div>
                                            </div><br>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">New Password
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input   type="password" name="new_password" placeholder="Enter new password " class="form-control" required /></input> </div>
                                            </div><br>
                                            <div class="form-group">
                                                    <label class="control-label col-md-3">Confirm Password
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-5">
                                                        <input   type="password" name="confirm" placeholder="Confirm new password " class="form-control" required /></input> </div>
                                                </div>
                                         <br><br>
                                            <div class="form-actions">
                                            <div class="row">
                                                <div class="offset-md-3 col-md-9">
                                                    <input type="submit" class="btn btn-success" value="change" name="change"></input>
                                                    <a  href="{% url 'doctor_profile' %}"class="btn btn-default" value="cancel" >Cancel</a>
                                                </div>
                                            	</div>
                                            </div>
                                            
										</div>
                                    </form>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     
            <!-- Bootstrap modal -->
            {% if msg %}  
	<div class="container">
         
            <div class="modal custom fade" id="duplicateModal" role="dialog">
            <div class="modal-dialog">
        
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <a href="{% url 'logout' %}" class="close" >×</a>
                  <h4 class="modal-title">Change Password Request</h4>
                </div>
                <div class="modal-body">
        
                  <strong>Password Status:</strong> <pid="regEmail">{{msg | title}}</p>
                </div>
                <div class="modal-footer">
                        <a href="{% url 'logout' %}" class="btn btn-danger" >Ok</a>
                </div>
              </div>
        
            </div>
          </div>
        </div>
        
        <script>
       $(window).on('load',function(){
        $('#duplicateModal').modal({backdrop:true});
    });
        </script>
			{% endif %}

			{% endblock%}  
       