
			{% extends "doctorfinder/settings_base.html" %}
			{% block content %}
	
			 
			 
			  <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Doctor Profile</div>
                            </div>
                            
                        </div>
                    </div>
                    {% if doctor %}
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN PROFILE SIDEBAR -->
                            <div class="profile-sidebar">
                                <div class="card card-topline-aqua">
                                    <div class="card-body no-padding height-9">
                                        <div class="row">
                                            <div class="profile-userpic">
                                                <img style="width:167px;height:163px;" src="{{doctor.profile_pic.url}}" class="img-responsive" alt=""> </div>
                                        </div>
                                        <div class="profile-usertitle">
                                            <div class="profile-usertitle-name"> Dr.{{doctor.firstname|title}} {{doctor.lastname|title}} </div>
                                            <div class="profile-usertitle-job">{{doctor.speciality|title}}</div>
                                        </div>
                                        
                                        <!-- END SIDEBAR USER TITLE -->
                                        
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-head card-topline-aqua">
                                        <header>About Me</header>
                                    </div>
                                    <div class="card-body no-padding height-9">
                                        <div class="profile-desc">
                                            {{doctor.about_doc|default:"No data,Kindly Update Your Profile"}}   
                                        </div>
                                        <ul class="list-group list-group-unbordered">
                                            <li class="list-group-item">
                                                <b>Gender </b>
                                                <div class="profile-desc-item pull-right">{{doctor.gender|title}}</div>
                                            </li>
                                            
                                        
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-head card-topline-aqua">
                                        <header>Address</header>
                                    </div>
                                    <div class="card-body no-padding height-9">
                                        <div class="row text-center m-t-10">
                                    <div class="col-md-12">
                                        <h5>{{doctor.address}},</h5>
                                        <p>{{doctor.location}} <br> {{doctor.city|title}}
                                            <br> {{doctor.state|title}}</p>
                                    </div>
                                </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- END BEGIN PROFILE SIDEBAR -->
                            <!-- BEGIN PROFILE CONTENT -->
                         <div class="profile-content">
                                <div class="row">
                                     <div class="card">
                                         <div class="card-topline-aqua">
                                             <header></header>
                                         </div>
											<div class="white-box">
					                            <!-- Nav tabs -->
					                            <div class="p-rl-20">
						                            <ul class="nav customtab nav-tabs" role="tablist">
						                                <li class="nav-item"><a href="#tab1" class="nav-link active"  data-toggle="tab" >About Me</a></li>
						                                
						                            </ul>
					                            </div>
					                            <!-- Tab panes -->
					                            <div class="tab-content">
					                                <div class="tab-pane active fontawesome-demo" id="tab1">
															<div id="biography" >
							                                    <div class="row">
							                                        <div class="col-md-3 col-xs-6 b-r"> <strong>Full Name</strong>
							                                            <br>
							                                            <p class="text-muted">Dr.{{doctor.firstname|title}} {{doctor.lastname|title}}</p>
							                                        </div>
							                                        <div class="col-md-3 col-xs-6"> <strong>Location</strong>
							                                            <br>
							                                            <p class="text-muted">{{doctor.location|title}}</p>
							                                        </div>
																	<div class="col-md-3 col-xs-6 b-r"> <strong>Email</strong>
							                                            <br>
							                                            <p class="text-muted">{{request.session.email}}</p>
							                                        </div>
							                                    </div>
							                                    <hr>
							                                    <p class="m-t-30">
							                                    <br>
							                                    <h4 class="font-bold">Qualification</h4>
							                                    <hr>
							                                    <ul>
                                                                    {{doctor.qualification|default:"No data,Kindly Update Your Profile"}} 
							                                    </ul>
							                                    <br>
							                                    <h4 class="font-bold">Specialization</h4>
							                                    <hr>
							                                    <ul>
                                                                    {{doctor.speciality|title}}   
							                                    </ul>
                                                                <br>
                                                                
                                                                <h4 class="font-bold">Hospitals I work For</h4>
							                                    <hr>
							                                    <ul>
                                                                    {{doctor.clinic|default:"No data,Kindly Update Your Profile"}} 
							                                    </ul>
							                                    <br>
							                                </div>
													</div>
					                                
		                                                </div>
														</div>
													</div>
					                            </div>
					                        </div>
                                         </div>
                                     </div>
                                </div>
                                
					
									{% endif%}		
											
											
											
											<!-- Loading script files -->

			{% endblock%}
			
                <!-- end page content -->
                
    
      
        
