{% extends "doctorfinder/settings_base.html" %}

<!-- start page content -->
			{% block content %}
	
               <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Edit Doctor</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Settings</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li><a class="parent-item" href="#">Profile Settings</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active">Edit Profile</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>Your Profile </header>
                                     
                                </div>
                                <div class="card-body" id="bar-parent">
                                    <form action="{% url 'update-doctor-profile' %}" id="form_sample_1" class="form-horizontal" method="POST">
                                        {% csrf_token %}
                                        {% if doctor %}
                                        <div class="form-body">
                                        <div class="form-group row">

                                                <input type="hidden" name="id" value="{{doctor.user_id}}">
                                                <label class="control-label col-md-3">First Name
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" name="firstname" data-required="1"  class="form-control input-height" value="{{doctor.firstname}}" required/> </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Last Name
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" name="lastname" data-required="1"  class="form-control input-height" value="{{doctor.lastname}}" required/> </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                    <label class="control-label col-md-3">Mobile
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-5">
                                                        <input type="text" name="mobile" data-required="1"  class="form-control input-height" value="{{doctor.mobile}}" required/> </div>
                                                </div>
                                                

                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Qualification
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" name="qualification" data-required="1"  class="form-control input-height" value="{{doctor.qualification}}" required/> </div>
                                            </div>
											
											<div class="form-group row">
                                                <label class="control-label col-md-3">Specialization
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" name="specialization" data-required="1"  class="form-control input-height" value="{{doctor.speciality}}" required/> </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Gender
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <select class="form-control input-height" name="gender" required>
                                                        <option selected="selected" value="{{doctor.gender}}">{{doctor.gender}}</option>
                                                    <option  value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                                </div>
                                            </div>
                                            
											
											<div class="form-group row">
                                                <label class="control-label col-md-3">City
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <select class="form-control input-height" name="city" required>
                                                        <option selected="selected" value="{{doctor.city}}">{{doctor.city}}</option>
                                                        <option value="Surat">Surat</option>
                                                        <option value="Vadodara">Vadodara</option>
                                                        <option value="Ahmedabad">Ahmedabad</option>
                                                        <option value="Mumbai">Mumbai</option>
                                                        <option value="Chennai">Chennai</option>
                                                        <option value="Gandhinagar">Gandhinagar</option>
                                                    </select>
                                                </div>
                                            </div>
											
											<div class="form-group row">
                                                <label class="control-label col-md-3">State
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <select class="form-control input-height" name="state" required>
                                                        <option selected="selected" value="{{doctor.state}}">{{doctor.state}}</option>
                                                        <option value="Gujarat">Gujarat</option>
                                                        <option value="Maharashtra">Maharashtra</option>
                                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                        <option value="Punjab">Punjab</option>
                                                        <option value="Goa">Goa</option>
                                                    </select>
                                                </div>
                                            </div>

											<div class="form-group row">
                                                <label class="control-label col-md-3">Location 
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <textarea name="location"  class="form-control-textarea" rows="2" >{{doctor.location|default:''}}</textarea>
                                                </div>
                                            </div>

											<div class="form-group row">
                                                <label class="control-label col-md-3">Hospitals 
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <textarea name="hospitals"  class="form-control-textarea" rows="2" >{{doctor.clinic|default:''}}</textarea>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                    <label class="control-label col-md-3">Address
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-5">
                                                        <textarea name="address"  class="form-control-textarea" rows="5" >{{doctor.address|default:''}}</textarea>
                                                    </div>
                                                </div>

                                            <div class="form-group row">
                                                <label class="control-label col-md-3">About Me
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <textarea name="aboutme"  class="form-control-textarea" rows="5" >{{doctor.about_doc|default:''}}</textarea>
                                                </div>
                                            </div>
										</div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="offset-md-3 col-md-9">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-success">Update Details</button>
                                                    <a href="{% url 'doc-profile' %}" type="button" class="btn btn-default">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page content -->
			
   
    </div>	
    



{% endblock%}
			
                <!-- end page content -->

			
			