{% extends "enterprise/settings_base.html" %}

<!-- start page content -->
			{% block content %}
	
               <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Edit Doctor</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Settings</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li><a class="parent-item" href="#">Profile Settings</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active">Edit Profile</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>Your Profile </header>
                                     
                                </div>
                                <div class="card-body" id="bar-parent">
                                    <form action="{% url 'update_user_profile' %}" id="form_sample_1" class="form-horizontal" method="POST">
                                        {% csrf_token %}
                                        {% if doctor_info %}
                                        <div class="form-body">
                                        <div class="form-group row">
                                                <label class="control-label col-md-3">First Name
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" name="firstname" data-required="1"  class="form-control input-height" value="{{doctor_info.firstname}}" required/> </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Last Name
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" name="lastname" data-required="1"  class="form-control input-height" value="{{doctor_info.lastname}}" required/> </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Qualification
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" name="qualification" data-required="1"  class="form-control input-height" value="{{doctor_info.qualification}}" required/> </div>
                                            </div>
											
											<div class="form-group row">
                                                <label class="control-label col-md-3">Specialization
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" name="specialization" data-required="1"  class="form-control input-height" value="{{doctor_info.specialization}}" required/> </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Gender
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <select class="form-control input-height" name="gender">
                                                        
                                                        <option selected="selected" value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                               
                                        	 <div class="form-group row">
                                                <label class="control-label col-md-3">Street
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <textarea  class="form-control-textarea" rows="5" name="street">{{doctor_info.street}}</textarea>
                                                </div>
                                            </div>
											
											<div class="form-group row">
                                                <label class="control-label col-md-3">City
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <select class="form-control input-height" name="city" required>
                                                        <option selected="selected" value="{{doctor_info.city}}">{{doctor_info.city}}</option>
                                                        <option value="Surat">Surat</option>
                                                        <option value="Vadodara">Vadodara</option>
                                                        <option value="Ahmedabad">Ahmedabad</option>
                                                        <option value="Mumbai">Mumbai</option>
                                                        <option value="Chennai">Chennai</option>
                                                        <option value="Gandhinagar">Gandhinagar</option>
                                                    </select>
                                                </div>
                                            </div>
											
											<div class="form-group row">
                                                <label class="control-label col-md-3">State
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <select class="form-control input-height" name="state" required>
                                                        <option selected="selected" value="{{doctor_info.state}}">{{doctor_info.state}}</option>
                                                        <option value="Gujarat">Gujarat</option>
                                                        <option value="Maharashtra">Maharashtra</option>
                                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                        <option value="Punjab">Punjab</option>
                                                        <option value="Goa">Goa</option>
                                                    </select>
                                                </div>
                                            </div>
											
											<div class="form-group row">
                                                <label class="control-label col-md-3">Country
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <select class="form-control input-height" name="country" required>
                                                        
                                                        <option value="India">India</option>
                                                        <option value="U.S">U.S</option>
                                                        <option value="U.K">U.K</option>
                                                        <option value="Australia">Australia</option>
                                                        <option value="New Zealand">New Zealand</option>
                                                        <option value="West Indies">West Indies</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Achievements
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <textarea name="achievements"  class="form-control-textarea" rows="5" >{{doctor_info.achievements|default:''}}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Conferences
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <textarea name="conferences"  class="form-control-textarea" rows="5" >{{doctor_info.conferences|default:''}}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Membership in Associations
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <textarea name="membership"  class="form-control-textarea" rows="5" >{{doctor_info.membership|default:''}}</textarea>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="control-label col-md-3">Hospitals Visited
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <textarea name="hospitals"  class="form-control-textarea" rows="5" >{{doctor_info.hospitals|default:''}}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">About Me
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <textarea name="aboutme"  class="form-control-textarea" rows="5" >{{doctor_info.aboutme|default:''}}</textarea>
                                                </div>
                                            </div>
										</div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="offset-md-3 col-md-9">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-success">Update Details</button>
                                                    <a href="{% url 'doctor_profile' %}" type="button" class="btn btn-default">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page content -->
			
   
    </div>	
    



{% endblock%}
			
                <!-- end page content -->

			
			