{% load static %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link href="{% static '/doctorfinder/login.css' %}" rel="stylesheet">

<div class="login-title">
    <h4>Doctor Finder</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
                    <hr>
                    {% if message %}
                    <p class="text-danger text-center">{{message}}</p>
                    {% endif %}
                    <form method="POST" action="{% url 'reset-password' %}">
                        {% csrf_token %}
                        <input name="email" class="form-control" placeholder="email" value = '{{email}}' type="hidden"/>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input name="otp" class="form-control" placeholder="OTP" type="text">
                            </div> 
                        </div> 
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input name="newpass" class="form-control" placeholder="New Password" type="password">
                            </div> 
                        </div> 
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input name="confirmpass" class="form-control" placeholder="Confirm Password" type="password">
                            </div> 
                        </div> 
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                        </div> 
                        <div class="text-center" ><a href="{% url 'login' %}" class="text-center">Login</a></div>
                    </form>
                </article>
            </div> 
        </div> 
    </div> 
</div>