<!doctype html>

<html class="no-js" lang="">

<head>
    {% load static %}
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="Stenoclever.com">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Stenoclever| Do Intelligent</title>
<link rel="stylesheet" href="{% static '/doctorfinder/js/index/bootstrap.min.css'%} ">
<link rel="stylesheet" href="{% static '/doctorfinder/js/index/flexslider.css' %}">
<link rel="stylesheet" href="{% static '/doctorfinder/js/index/jquery.fancybox.css'%}">
<link rel="stylesheet" href="{% static '/doctorfinder/js/index/main.css' %}">
<link rel="stylesheet" href="{% static '/doctorfinder/js/index/responsive.css' %}">
<link rel="stylesheet" href="{% static '/doctorfinder/js/index/font-icon.css' %}">
<link rel="stylesheet" href="{% static '/doctorfinder/js/index/animate.min.css' %}">
<!--<link rel="stylesheet" href="{% static '/doctorfinder/js/index/font-awesome.min.css' %}">-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link rel="shortcut icon" type="image/ico" href="{% static '/doctorfinder/img/favicon.ico' %}"/>
</head>

<body>
<!-- header section -->
<section style="background-image: url({% static '/doctorfinder/img/banner.jpg' %});background-position: center top;background-repeat: no-repeat;-moz-background-size: cover;-o-background-size: cover;-webkit-background-size: cover;background-size: cover;min-height: 750px;">
  <header id="header">
    <div class="header-content clearfix"> <span class="logo"><a href="">Stenoclever</a></span>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="#intro">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#teams">Developers</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a href="#contact">Contact</a></li>
		  <li><a href="{% url 'login' %}">Login</a></li>
		  <li><a href="">Register</a></li>
		  
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
  <!-- banner text -->
  <div class="container">
    <div class="col-md-6 col-sm-12">
      <div class="banner-text text-center">
        <h1>Stenoclever</h1>
        <p>A Smart Stenographer and doctorfinder for Doctors<br/> </p></div>
      <!-- banner text --> 
    </div>
  </div>
</section>
<!-- header section --> 
<!-- intro section -->
<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Go For Stenoclever, Its Free!</h3>
      <p>Register on Stenoclever,be a "Stenoclever Doctor" and enjoy completing your work with few clicks, intelligent suggestions
        and speech.Manage your profile as well as patients profile at a time.Enhance your profile in the Doctor's Network :)
      </p> 
        <a href="{% url 'registration' %}" class="btn btn-large">Register</a> 
    </div>
  </div>
</section>
<!-- intro section --> 
<!-- services section -->
<section id="services" class="services service-section">
  <div class="container">
  <div class="section-header">
                <h2 class="wow fadeInDown animated">Our Services</h2>
                
            </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon fa fa-gears"></span>
        <div class="services-content">
          <h5>Intelligent Suggestions</h5>
          <p>The web application provides intelligent suggestions on the basis of Symptoms for Doctors.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon fa fa-area-chart"></span>
        <div class="services-content">
          <h5>Understand Business</h5>
          <p>This Provides Statistics for your business that how many cases are been registered or what are the Profits.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon fa fa-group"></span>
        <div class="services-content">
          <h5>Supports Multi-Lingual</h5>
          <p>The Web Application Supports Multiple Languages like Hindi,English,Gujarat and many others.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon fa fa-television"></span>
        <div class="services-content">
          <h5>Interface</h5>
          <p>This provides a centralized System where you can find all the features at one place.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon fa fa-bullhorn"></span>
        <div class="services-content">
          <h5>Speech to Text </h5>
          <p>It easily converts your conversation to report data without any hassle.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon fa fa-suitcase"></span>
        <div class="services-content">
          <h5>Win Your Customers</h5>
          <p>Have a stressfree time and win your customers with performance</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services section --> 

<!-- our team section -->
<section id="teams" class="section teams">
  <div class="container">
      <div class="section-header">
                <h2 class="wow fadeInDown animated">Developers</h2>
                
            </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="person"><img src="{% static '/doctorfinder/img/dp.jpg' %}" alt="" class="img-responsive">
          <div class="person-content">
            <h4>Rajan Sharma</h4>
            <h5 class="role">Full Stack Developer</h5>
            <p>Simform Solutions</p>
          </div>
          <ul class="social-icons clearfix">
            <li><a href="https://www.facebook.com/rajansharma9697"><span class="fa fa-facebook"></span></a></li>
            <li><a href="https://twitter.com/rcsiit"><span class="fa fa-twitter"></span></a></li> 
            <li><a href=""><span class="fa fa-linkedin"></span></a></li> 
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img style="max-height:207px;" src="{% static '/doctorfinder/img/mihir.jpg' %}" alt="" class="img-responsive">
          <div class="person-content">
            <h4>Mihir Sata</h4>
            <h5 class="role">Data Analyst</h5>
            <p>Exxat Solutions</p>
          </div>
          <ul class="social-icons clearfix">
            <li><a href="https://www.facebook.com/mihir.sata" class=""><span class="fa fa-facebook"></span></a></li>
            <li><a href="" class=""><span class="fa fa-twitter"></span></a></li> 
            <li><a href="https://plus.google.com/104970710528374323662" class=""><span class="fa fa-linkedin"></span></a></li> 
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img style="max-height:207px;"src="{% static '/doctorfinder/img/uma.jpg' %}" alt="" class="img-responsive">
          <div class="person-content">
            <h4>Uma Nandni</h4>
            <h5 class="role">Computer Engineer</h5>
            <p>Parul University</p>
          </div>
          <ul class="social-icons clearfix">
            <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li> 
            <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li> 
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img style="max-height:207px;" src="{% static '/doctorfinder/img/shikha.jpeg' %}" alt="" class="img-responsive">
          <div class="person-content">
            <h4>Shikha Rath</h4>
            <h5 class="role">Techno Functional Consultant</h5>
            <p>Evosys Global</p>
          </div>
          <ul class="social-icons clearfix">
            <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li> 
            <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li> 
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- our team section --> 
<!-- Testimonials section -->
<section id="testimonials" class="section testimonials no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"Stenoclever started not from an idea but from a vision to help our country 
                  grow in medical field and support digitalization" </h1>
                <p>Rajan Sharma</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"Stenoclever will definitely help doctors get a good time with their family and put 
                  this chaos of managing records aside" </h1>
                <p>Shikha Rath</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"Stenoclever has proved the power of the voice, Now we can easily use our voice to maintain
                  our medical records and analyze them" </h1>
                <p>Mihir Sata</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"Stenoclever not only gives doctors a platform to do their daily work
                  instead it is their friend which also let them socialize" </h1>
                <p>Uma Nandni</p>
              </blockquote>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials section --> 

<!-- contact section -->
<section id="contact" class="section">
  <div class="container">
      <div class="section-header">
                <h2 class="wow fadeInDown animated">Contact Us</h2>
                <p class="wow fadeInDown animated">Any Relavant Questions or Queries you can <br>Contact Us</p>
            </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 conForm">       
        <div id="message"></div>
        <form method="POST" action="" >
            {% csrf_token %}
          <input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your name..." >
          <input name="email" id="email" type="email" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Email Address..." >
          <input name="subject" id="subject" type="text" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Subject" >
          <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Message..."></textarea>
          <input type="submit" id="submit" name="send" class="submitBnt" value="Send">
         
        </form>
      </div>
    </div>
  </div>
</section>
<!-- contact section --> 

<!-- Footer section -->
<footer class="footer">
<div class="container-fluid">
<div id="map-row" class="row">
    <div class="col-xs-12">    
    	<iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.7138589354918!2d73.3616080145303!3d22.2888264853296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fda2400192473%3A0xc319c9237f2928e8!2sParul+University!5e0!3m2!1sen!2sin!4v1526328111596"></iframe> 
      
          <div id="map-overlay" class="col-xs-5 col-xs-offset-6" style="">
    		<h2 style="margin-top:0;color:#fff;">Contact us</h2>
    		<address style="color:#fff;">
    			<strong>Stenoclever</strong><br>
    			<br>Stenoclever tower,
    			Parul University<br>
    			Vadodara,Gujarat,India<br>
    			
    			<abbr title="Phone">Tel:</abbr> (+91) 7567377093 
    		</address>
			  © 2018 <a  href="#">Stenoclever.com</a>
    	</div>
    </div>
	 </div>
</div>
</footer>
<!-- Footer section --> 
<!-- JS FILES --> 
<script src="{% static '/doctorfinder/js/index/js/jquery.min.js' %}"></script> 
<script src="{% static '/doctorfinder/js/index/js/bootstrap.min.js' %}"></script> 
<script src="{% static '/doctorfinder/js/index/js/jquery.flexslider-min.js' %}"></script> 
<script src="{% static '/doctorfinder/js/index/js/jquery.fancybox.pack.js' %}"></script> 
<script src="{% static '/doctorfinder/js/index/js/retina.min.js' %}"></script> 
<script src="{% static '/doctorfinder/js/index/js/modernizr.js' %}"></script> 
<script src="{% static '/doctorfinder/js/index/js/main.js' %}"></script> 
<script type="text/javascript" src="{% static '/doctorfinder/js/index/js/jquery.contact.js' %}"></script> 
</body>


</html>