{% extends "enterprise/base.html" %}
{% load static %}

<link href="{% static '/enterprise/js/jqueryui/jquery-ui.min.css'%}" rel="stylesheet"  type="text/css" />
<link href="{% static '/enterprise/js/jqueryui/jquery-ui.structure.min.css'%}" rel="stylesheet"  type="text/css" />
<link href="{% static '/enterprise/js/jqueryui/jquery-ui.theme.min.css'%}" rel="stylesheet"  type="text/css" />
{% block content %}
<style>
	.mybtn{}
	
</style>
<div class="page-content-wrapper">
	<div class="page-content">
		<div class="page-bar">
			<div class="page-title-breadcrumb">
				<div class=" pull-left">
					<div class="page-title">Record an Old Case</div>
				</div>
				<ol class="breadcrumb page-breadcrumb pull-right">
						<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'base' %}">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
						</li>
						<li><a class="parent-item" href="#">Case</a>&nbsp;<i class="fa fa-angle-right"></i>
						</li>
						<li class="active">Record Old Case</li>
					</ol>
			</div>
		</div>
		<div class="inbox">
			<div class="row">
				<div class="col-md-12">
					<div class="card card-topline-gray">
						<div class="card-body no-padding height-9">
							<div class="row">
								<div class="col-md-9">
									<div class="inbox-body">
										<div class="inbox-header">
											<div class="card-body " id="bar-parent10">
												
											</div>

										</div>
									
										<div class="inbox-body no-pad">
											<section class="mail-list">
												<div class="mail-sender">
												<form method="GET" action="{% url 'prescription_old_case' %}" class="form-horizontal" onkeypress="return event.keyCode != 13;" >
													{% if patient_information %}
													
													{% load my_tags %}
													{% for patient_info in patient_information %}
													<div class="form-group">
														<label>Patient Name</label>
														<input type="text" class="form-control"  id="patientname" name="patientname" value="{{patient_info.firstname}}{{patient_info.lastname}}" readonly>
													</div>
													<div class="form-group">
															<label>Patient Id</label>
															<input type="text" class="form-control" value="{{patient_info.id}}" id="patientid"  name="patientid"  readonly>
														</div>
														<div class="form-group">
															<label>Case Id</label>
															<input type="text" class="form-control" value="{{caseid}}" id="caseid"  name="caseid"  readonly>
														</div>
													<div class="form-group">
															<label>Date of Birth</label>
															<input type="text" class="form-control" value="{{patient_info.date_of_birth}}" id="patientdob"  name="patientdob"  readonly>
														</div>
														<div class="form-group">
																<label>Gender</label>
																<input type="text" class="form-control" value="{{patient_info.gender}}" id="patientgender" name="patientgender" readonly>
															</div>
													
															<div class="form-group">
																<label >Select Language</label>
																<select class="form-control" id="language" required>
																	  <option selected="selected" value="en-US" >en-US</option>
																	  <option value="gu-IN" >gu-IN</option>
																	  <option value="hi-IN" >hi-IN</option>
																	  <option value="mr-IN" >mr-IN</option>
																	  <option value="en-IN" >en-IN</option>
																</select>
																
															</div>
													
										  			<div class="form-group">
														<label>Case detail</label><br>
														<span id="speech" style="color:red;">Start Speaking!</span>
    													<span id="interim" >You will see live transcription here :)</span><br><br>
														<textarea rows="7" id="opt" name="opt" class="form-control"  placeholder="Use your speech to record" required></textarea>
													</div>

													
													
													<div style="width:100%;height:80px">
														<input type="button" id="listen"  class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect margin-right-10 btn-primary" style="float:right;margin:10px;background-image:url({% static 'enterprise/img/micon.svg' %});background-repeat: no-repeat;background-position: 15px 15px;" >
															
													</input>
													</div>

													<div class="form-group">
														<label>Translate</label><br>
														<span id="speech" style="color:red;">Translation!</span></span>
    													<span id="interim" >Stenoclever understands english only, but you can record in any language, we will translate it for you :)</span><br><br>
														<textarea rows="7" id="op" name="op" class="form-control"  placeholder="Translation will appear here" required onkeypress="return false;"></textarea>
													</div>
													<button style="position:relative;margin-left:670px;margin-top:-3px;" type="button" id="translate" class="btn btn-success btn-md">Translate</button>
													
												<br><br>
													
													<div class="form-group">
														<label>Diseases <span style="color:red;">(The disease has already been selected :)</span></label><br>
														<input type="text" id="mytext" value="{{disease_name}}" name="disease" class="form-control !important" readonly>
													</div>
													{% endfor %}
													<br><br>
													<a href="{% url 'all_cases' %}" class="btn btn-sm btn-primary">Cancel</a>
													<button type="submit" class="btn btn-sm btn-success">Prescribe</a>
													{% endif %}
												</form>
												</div>
											</section>
										</div>
									</div>
								</div>
							
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<script src="{% static '/enterprise/js/myspeechscript.js' %}" ></script>-->
<script src="{% static '/enterprise/js/jqueryui/jquery-ui.min.js' %}" ></script>
<script>
	$(document).on("click", "#listen" , function(){
		var selected = $("#language").val();

       function upgrade() {
	          alert('Please use Google Chrome to run the application');
        }

 
	if (!(window.webkitSpeechRecognition) && !(window.speechRecognition)) {
	  upgrade();
	} else {
	  var recognizing,
	  transcription = document.getElementById('speech');
	  interim_span = document.getElementById('interim');

	  interim_span.style.opacity = '0.5';


	  function reset() {
		recognizing = false;
		speech.start();
	  }

	  var speech = new webkitSpeechRecognition() || speechRecognition();

	  speech.continuous = true;
	  speech.interimResults = true;
	  speech.lang =selected;
	  speech.start(); 

	  speech.onstart = function() {
		 
		  recognizing = true;
	  };

	  speech.onresult = function(event) {
		
		var interim_transcript = '';
		var final_transcript = '';

		
		for (var i = event.resultIndex; i < event.results.length; ++i) {
		  if (event.results[i].isFinal) {
			final_transcript += event.results[i][0].transcript;
		  } else {
			
			interim_transcript += event.results[i][0].transcript;
		  }
		}
		
		transcription.innerHTML = final_transcript;
		interim_span.innerHTML = interim_transcript;
		var a=transcription.innerHTML;
		var b=document.getElementById('opt').value;
		document.getElementById('opt').value=b+a;
	  };

	  speech.onerror = function(event) {
		 console.error(event.error);
	  };

	  speech.onend = function() {
		  reset();
	  };

	}
  


	});



  </script>
  <script>
	$(document).on("click", "#translate" , function(){
		speechdata = $("#opt").val();
        $.ajax({
            type:"GET",
            data:"data="+speechdata,
            url : '{% url "translate_function" %}',
 
            success: function(jsonresult){
				obj=JSON.parse(jsonresult)
				$("#op").val(obj['translatedText'])
				
			
		}
	});
	});

  </script>
  
	{% endblock%}
					
					