<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Stenoclever</title>
  <script src="{% static '/enterprise/js/jquery.min.js' %}" ></script>
  <link href="{% static '/enterprise/js/login/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
	<script src="{% static '/enterprise/js/login/bootstrap.bundle.min.js' %}"></script>
  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/> 
  
  <link href="{% static '/enterprise/js/login/login.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" type="image/ico" href="{% static '/enterprise/img/favicon.ico' %}"/>
</head>
<img src="{% static '/enterprise/img/vertical.png' %}" style="max-height:110px; position:relative;margin-top:19px; margin-left:615px;margin-bottom:-23px;"></img>
<body style="background-color:#4a90e2;">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Verify Account</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-5">
          <h4>You need to verify Email address before proceeding</h4>
          <p>Enter the OTP you would received in the email </p>
        </div>
        <form method="POST" action="{% url 'register_new_user' %}">
          {% csrf_token %}
          <div class="form-group">
            <input class="form-control" name="otp"  type="number" maxlength="6" required>
            <input type="hidden" name="firstname" value="{{firstname}}" />
            <input type="hidden" name="lastname" value="{{lastname}}" />
            <input type="hidden" name="emailid" value="{{emailid}}" />
            <input type="hidden" name="dob" value="{{dob}}" />
            <input type="hidden" name="qualification" value="{{qualification}}" />
            <input type="hidden" name="specialization" value="{{specialization}}" />
            <input type="hidden" name="gender" value="{{gender}}" />
            <input type="hidden" name="city" value="{{city}}" />
            <input type="hidden" name="state" value="{{state}}" />
            <input type="hidden" name="country" value="{{country}}" />
            <input type="hidden" name="street" value="{{street}}" />
            {% if error_msg %}<span style="color:red;"> {{error_msg}}</span>{% endif %}
          </div>
          <button type="submit" class="btn btn-primary btn-block">Verify and Create Account</button>
        </form>
        
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
<script src="{% static '/enterprise/js/login/login.min.js' %}" ></script>
<script src="{% static '/enterprise/js/login/jquery.easing.min.js' %}" ></script>
</body>

</html>
