<!DOCTYPE html>
<html lang="en">
	{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    
    <title>Doctor Tracker</title>
	<style>
		#search+.tag-editor { 
			width: 450px;
			height:40px;
			position: relative;
			top:14px;left:20px;
			box-sizing: border-box;
			border: 1px solid #ccc;
			
			font-size: 16px;
			background-color: white;
			outline:none;
		}
	</style>
	
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
	<script src="{% static '/doctorfinder/js/jquery.min.js' %}" ></script>
	<link href="{% static '/doctorfinder/js/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
	<script src="{% static '/doctorfinder/js/bootstrap/js/bootstrap.min.js' %}"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/css/tether.min.css" rel="stylesheet" type="text/css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.js" ></script>
	<link href="{% static '/doctorfinder/js/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static '/doctorfinder/js/select2/css/select2.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static '/doctorfinder/js/dropzone/dropzone.css' %}" rel="stylesheet" media="screen">
	<link href="{% static '/doctorfinder/js/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/doctorfinder/js/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static '/doctorfinder/js/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" media="screen">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- theme style -->
   <link href="{% static '/doctorfinder/css/theme_style.css'%}" rel="stylesheet" id="rt_style_components" type="text/css" />
   <link href="{% static '/doctorfinder/css/style.css' %}" rel="stylesheet" type="text/css" />
   <link href="{% static '/doctorfinder/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
   <link href="{% static '/doctorfinder/css/formlayout.css' %}" rel="stylesheet" type="text/css" />
   <link href="{% static '/doctorfinder/css/responsive.css' %}" rel="stylesheet" type="text/css" />
   <link href="{% static '/doctorfinder/css/theme-color.css' %}" rel="stylesheet" type="text/css" />
   <link href="{% static '/doctorfinder/css/material_style.css' %}" rel="stylesheet" type="text/css" />
   <link href="{% static '/doctorfinder/css/material.indigo-pink.min.css' %}" rel="stylesheet" type="text/css" />
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
   <link href="{% static '/doctorfinder/js/bootstrap-tags/bootstrap-tagsinput.css'%}" rel="stylesheet"  type="text/css" />
   <link href="{% static '/doctorfinder/js/tag-editor/jquery.tag-editor.css'%}" rel="stylesheet"  type="text/css" />
   <link href="{% static '/doctorfinder/js/jqueryui/jquery-ui.min.css'%}" rel="stylesheet"  type="text/css" />
	<link href="{% static '/doctorfinder/js/jqueryui/jquery-ui.structure.min.css'%}" rel="stylesheet"  type="text/css" />
	<link href="{% static '/doctorfinder/js/jqueryui/jquery-ui.theme.min.css'%}" rel="stylesheet"  type="text/css" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js" ></script>

<!-- favicon -->
	<link rel="shortcut icon" type="image/ico" href="{% static '/doctorfinder/img/favicon.ico' %}"/>
	
</head>


<body>
<!-- start page content -->
<div class="page-content-wrapper">
  <div class="page-content">
    <div class="page-bar">
      <div class="page-title-breadcrumb">
        <div class=" pull-left">
          <div class="page-title">Change Password</div>
        </div>
        
      </div>
    </div>
    <div class="row">
      
        <div class="card card-box">
          <div class="card-head">
            <header>Password Change Status</header>

          </div>
          <div class="card-body" id="bar-parent">

            <div class="container">

              <div class="card-body">
                <form>


                  <span style="color:green;">Your Password have been changed successfully!</span>


                  <div class="form-group">
                    <div class="form-check">

                    </div>
                    <div class="form-actions">
                      <div class="row">
                        <div class="offset-md-3 col-md-9">
                          <a href="{% url 'login' %}" class="btn btn-success" value="Login">Login</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>

              </div>



            </div>
          </div>
        </div>
      
    </div>
  </div>

  <!-- Bootstrap modal -->
  {% if msg %}
  <div class="container">

    <div class="modal custom fade" id="duplicateModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <a href="{% url 'logout' %}" class="close">×</a>
            <h4 class="modal-title">Change Password Request</h4>
          </div>
          <div class="modal-body">

            <strong>Password Status:</strong>
            <pid="regEmail">{{msg | title}}</p>
          </div>
          <div class="modal-footer">
            <a href="{% url 'logout' %}" class="btn btn-danger">Ok</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
  <script>
    $(window).on('load', function () {
      $('#duplicateModal').modal({ backdrop: true });
    });
  </script>
  {% endif %}
</html>