<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Stenoclever</title>
  <script src="{% static '/enterprise/js/jquery.min.js' %}" ></script>
  <link href="{% static '/enterprise/js/login/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
	<script src="{% static '/enterprise/js/login/bootstrap.bundle.min.js' %}"></script>
  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/> 
  
  <link href="{% static '/enterprise/js/login/login.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" type="image/ico" href="{% static '/enterprise/img/favicon.ico' %}"/>
</head>
<img src="{% static '/enterprise/img/vertical.png' %}" style="max-height:110px; position:relative;margin-top:19px; margin-left:615px;margin-bottom:-23px;"></img>
<body style="background-color:#4a90e2;">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header" style="text-align:center">Password Change Status</div>
      <div class="card-body">
        <form>
         
         <span style="color:green;">Your Password have been changed successfully!</span>
                     
          <div class="form-group">
            <div class="form-check">
              
            </div>
          </div>
          <a href="{% url 'login' %}" class="btn btn-primary btn-block" >Login to the account</a>
        </form>
        
      </div>
	  
	 
    </div>
    <br><br>
    <span class="card-body" style="color:white; position:absolute;margin-top:-37px;margin-left:425px;">&copy; 2018<a style="color:white;" href="mailto:stenoclever.project@gmail.com"> Stenoclever Developers</a></span>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static '/enterprise/js/login/login.min.js' %}" ></script>
<script src="{% static '/enterprise/js/login/jquery.easing.min.js' %}" ></script>
</body>

</html>
