{% extends "enterprise/base.html" %}
			
			{% block content %}
            {% load static %}
            <link href="{% static '/enterprise/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
            <link href="{% static '/enterprise/js/datatables/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css"></script>
            <script src="{% static '/enterprise/js/datatables/datatables.min.js' %}" ></script>
            <script src="{% static '/enterprise/js/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" ></script>
            <script src="{% static '/enterprise/js/table_data.js' %}" ></script>
            <script src="{% static '/enterprise/js/print.js' %}" ></script>

			
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Patient Profile</div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
	                    <div class="col-md-4 col-xs-12">
	                        <div class="white-box">
								<div class="cardbox">
			                    <div class="header">
			                        <h4 class="font-bold">ABOUT PATIENT</h4>
			                    </div>
				                    <div class="body">
				                        <div class="user-btm-box">
				                                <!-- .row -->
				                                <div class="row text-center m-t-10">
                                                    {% if patient_info %}
				                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 b-r"><strong>Name</strong>
				                                        <p>{{patient_info.firstname|title}} {{patient_info.lastname|title}}</p>
				                                    </div>
				                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12"><strong>Patient id</strong>
				                                        <p>{{patient_info.id}}</p>
				                                    </div>
				                                </div>
				                                <!-- /.row -->
				                                <hr>
				                                <!-- .row -->
				                                <div class="row text-center m-t-10">
				                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 b-r"><strong>Gender</strong>
				                                        <p>{{patient_info.gender|title}}</p>
				                                    </div>
				                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12"><strong>Date of Birth</strong>
				                                        <p>{{patient_info.date_of_birth}}</p>
				                                    </div>
				                                </div>
				                                <!-- /.row -->
                                                <hr>
                                                <div class="row text-center m-t-10">
				                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 b-r"><strong>Bloodgroup</strong>
				                                        <p>{{patient_info.blood_group}}</p>
				                                    </div>
				                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12"><strong>Marital Status</strong>
				                                        <p>{{patient_info.marital_status|title}}</p>
				                                    </div>
				                                </div>
				                                <!-- /.row -->
				                                <hr>
				                                <!-- .row -->
				                                <div class="row text-center m-t-10">
				                                    <div class="col-md-12"><strong>Address</strong>
				                                        <p>{{patient_info.street|title}}, {{patient_info.city|title}}
				                                            <br> {{patient_info.state|title}}, {{patient_info.country|title}}.</p>
				                                    </div>
                                                </div>
                                                
				                            </div>
				                    	</div>
			                		</div>
	                        	</div>
	                   	 </div>
	                    <div class="col-md-8 col-xs-12">
                            <div class="cardbox">
			                    <div class="body"> 
                                    <div class="mypost-list">
                                        
                                        
                                        <div class="post-box">
                                            <h4 class="font-bold">General Report</h4>                                        
                                            <hr>
                                            <h5>Blood Pressure<span class="pull-right">{{patient_info.bloodpresure|default:'No data'}}</span></h5>
				                            <div class="progress">
				                                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="200" style="width:{{bloodpresure|default:0}}%;"> </div>
				                            </div>
				                            <h5>Sugar<span class="pull-right">{{patient_info.sugar|default:'No data'}}</span></h5>
				                            <div class="progress">
				                                <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="200" style="width:{{sugar|default:0}}%;"> </div>
				                            </div>
				                            <h5>Haemoglobin<span class="pull-right">{{patient_info.haemoglobin|default:'No data'}} mg/dl </span></h5>
				                            <div class="progress">
				                                <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="10" style="width:{{patient_info.haemoglobin}}%;"> </div>
				                            </div>
                                        </div>
                                        </div>
                                        <hr>
                                        {% endif %}
                                        <!--table-->
                                        
										<div class="row">
                        <div class="col-md-12">
                            <div class="card card-topline-red">
                                <div class="card-head">
                                    <header>Active Cases</header>
                                    
                                </div>
                                <div class="card-body ">
                                    
                                                
                                        
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle" style="width: 100%" id="example4">
                                       
                                        <thead>
                                            <tr>
                                                
                                                <th> Case Id </th>
                                                <th>Disease </th>
                                                <th>Date</th>
                                                <th>Medicines </th>
                                                <th> Add Report </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                {% if active_case %}
                                                {% for info in active_case %}    
                                            <tr class="odd gradeX">
                                                   
                                               
                                                <form method="POST" action="{% url 'add_report' %}">
                                                        {% csrf_token %}
                                                <td><input type="hidden" name="caseid" value="{{info.id}}"/>{{info.id|default:'NA'}}</td>
                                                
                                                <td>
                                                    <span class="label label-sm label-danger">{{info.disease_name}}</span>
                                                </td>
                                                <td>
                                                        <a style="text-align:center">{{info.last_visited_date}}</a>
                                                    </td>
                                                    <td class="valigntop">
                                                            <div class="btn-group">
                                                                <button type="submit" name="view_medicine" class="btn btn-primary"><i class="fa fa-eye"></i>View Medicines</button>
                                                            </div>
                                                        </td>
                                                <td class="valigntop">
                                                    <div class="btn-group">
                                                        <button type="submit" name="ad_report" class="btn btn-success"><i class="fa fa-plus"></i>Add Report</button>
                                                    </div>
                                                </td>
                                            </form> 
                                                
                                                
                                               
                                                    
                                              
                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            <h4> No current cases for this patient</h4>
                                            {% endif %} 

                                            </tbody>
                                            
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row">
                            <div class="col-md-12">
                                <div class="card card-topline-red">
                                    <div class="card-head">
                                        <header>Closed Cases</header>
                                        
                                    </div>
                                    <div class="card-body ">
                                        
                                                    
                                            
                                        <table class="table table-striped table-bordered table-hover table-checkable order-column " style="width: 100%" id="example1">
                                            
                                            <thead>
                                                <tr>
                                                    
                                                    <th> Case Id </th>
                                                    <th> Disease</th>
                                                    <th>Date</th>
                                                    <th>Medicines </th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    {% if closed_case %}
                                                    {% for info in closed_case %}      
                                                <tr class="odd gradeX">
                                                       
                                                   
                                                    <form method="POST" action="{% url 'add_report' %}">
                                                        {% csrf_token %}
                                                    <td><input type="hidden" name="caseid" value="{{info.id}}"/>{{info.id|default:'NA'}}</td>
                                                    
                                                    <td>
                                                        <span class="label label-sm label-danger">{{info.disease_name}}</span>
                                                    </td>
                                                    <td>
                                                            <a style="text-align:center">{{info.last_visited_date}}</a>
                                                        </td>
                                                        <td class="valigntop">
                                                                <div class="btn-group">
                                                                    <button type="submit" name="view_medicine" class="btn btn-primary"><i class="fa fa-eye"></i>View Medicines</button>
                                                                </div>
                                                            </td>
                                                        </form> 
                                                   
                                                  
                                                </tr>
                                                {% endfor %}
                                                   
                                                    
                                                {% else %}
                                                <h1> No previous cases for this patient</h1>
                                                {% endif %}      
                                                
                                                </tbody>
                                                
                                        </table>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                </div>
                
    
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}	
			
							