{% extends "enterprise/base.html" %}
{% load static %}
<link href="{% static '/enterprise/js/jqueryui/jquery-ui.min.css'%}" rel="stylesheet"  type="text/css" />
<link href="{% static '/enterprise/js/jqueryui/jquery-ui.structure.min.css'%}" rel="stylesheet"  type="text/css" />
<link href="{% static '/enterprise/js/jqueryui/jquery-ui.theme.min.css'%}" rel="stylesheet"  type="text/css" />
{% block content %}
<style>
	.mybtn{}
	
</style>
<div class="page-content-wrapper">
	<div class="page-content">
		<div class="page-bar">
			<div class="page-title-breadcrumb">
				<div class=" pull-left">
					<div class="page-title">Prescription</div>
				</div>
				<ol class="breadcrumb page-breadcrumb pull-right">
						<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'base' %}">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
						</li>
						<li><a class="parent-item" href="#">Case</a>&nbsp;<i class="fa fa-angle-right"></i>
						</li>
						<li class="active">Prescription</li>
					</ol>
			</div>
		</div>
		<div class="inbox">
			<div class="row">
				<div class="col-md-12">
					<div class="card card-topline-gray">
						<div class="card-body no-padding height-9">
							<div class="row">
								<div class="col-md-9">
									<div class="inbox-body">
										
										<div class="inbox-body no-pad">
											<section class="mail-list">
												<div class="mail-sender">
                                                <form method="GET" action="{% url 'add_new_case' %}" class="form-horizontal" onkeypress="return event.keyCode != 13;">
                                                   
													<div class="form-group">
                                                        <br>
														<label>Patient Name</label>
														<input type="text" class="form-control" placeholder="Name" id="patientname" name="patientname" value="{{name}}" readonly>
                                                    </div>
                                                    <br>
													<div class="form-group">
															<label>Patient Id</label>
															<input type="text" class="form-control" placeholder="Id" id="patientid" name="patientid" value="{{ids}}"readonly>
														</div>
													<br>
                                                    <input type="hidden" id="casedata" name="casedata" value="{{data}}"/>
													<div class="form-group">
														<label>Diseases Detected</label><br>
														<input type="text" id="diseasename"  name="diseasename" class="form-control !important" value="{{disease}}" readonly>
													</div>
													<div class="form-group">
														<label >Select Language</label>
														<select class="form-control" id="language" required>
															  <option selected="selected" value="en-US" >en-US</option>
															  <option value="gu-IN" >gu-IN</option>
															  <option value="hi-IN" >hi-IN</option>
															  <option value="mr-IN" >mr-IN</option>
															  <option value="en-IN" >en-IN</option>
														</select>
														
													</div>
											
											  <div class="form-group">
												<label>Prescription Story</label><br>
												<span id="speech" style="color:red;">Start Speaking!</span>
												<span id="interim" >You will see live transcription here :)</span><br><br>
												<textarea rows="7" id="opt" name="opt" class="form-control"  placeholder="Use your speech to record" required></textarea>
											</div>

											
											
											<div style="width:100%;height:80px">
												<input type="button" id="listen"  class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect margin-right-10 btn-primary" style="float:right;margin:10px;background-image:url({% static 'enterprise/img/micon.svg' %});background-repeat: no-repeat;background-position: 15px 15px;" >
													
											</input>
											</div>

											<div class="form-group">
												<label>Translate</label><br>
												<span id="speech" style="color:red;">Translation!</span></span>
												<span id="interim" >Stenoclever understands english only, but you can record in any language, we will translate it for you :)</span><br><br>
												<textarea rows="7" id="op" name="prescription_data" class="form-control"  placeholder="Translation will appear here" required onkeypress="return false;"></textarea>
											</div>
											<button style="position:relative;margin-left:538px;margin-top:22px;" type="button" id="translate" class="btn btn-success btn-md">Translate</button>
											<input type="button" id="manipulate" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect margin-right-10 btn-danger" style="float:right;margin:10px;background-image:url({% static 'enterprise/img/suggest.png' %});background-repeat: no-repeat;background-position: 15px 15px;">
											</input><br><br>
													<div class="form-group">
														<label>Medicines<span style="color:red;">(Either enter medicine manually or select from the suggestions..)</span></label><br>
														<input type="text" id="mytext"  name="medicines" class="form-control !important" required>
													</div>
													<br><br>
													<a href="{% url 'all_cases' %}" class="btn btn-sm btn-primary">Cancel</a>
                                                    <button type="submit" class="btn btn-sm btn-success">Create Case</a>
                                                   
                                                    
                                                </form>
												</div>
											</section>
										</div>
									</div>
								</div>
								<!-- start suggestions-->
								<div class="col-md-3">
									<div class="inbox-sidebar">
                                        
										<a data-title="Compose" class="btn blue compose-btn btn-block m-0">
											<i class="fa fa-heartbeat"></i>Medicine Suggestions</a>

										<ul id="hello" class="nav nav-pills nav-stacked labels-info inbox-divider">
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<script src="{% static '/enterprise/js/myspeechscript.js' %}" ></script>-->

<script type="text/javascript">

	$(document).on("click", "#manipulate" , function(){
		diseaselist = $("#diseasename").val();
        $.ajax({
            type:"GET",
            data:"diseaselist="+diseaselist,
            url : '{% url "suggest_medicines" %}',
 
            success: function(jsonresult){
				obj=JSON.parse(jsonresult)
				
				var len = Object.keys(obj).length;
				var manipulate="";
				if(len===0)
				{
					manipulate+='<li>'+'<div class="card"><div class="card-header">'+'<span class="label label-danger">' +'No History'+'</span>'+'</div>'+'<div  class="card-body"style="align:left">'+'No medicines to suggest'+'<br><br>'+'<span class="label label-success">' +'Accuracy:'+'</span>'+' '+'<span class="label label-warning">'+'Not available'+'</span>'+'</div>'+'</li>';
				}
				else{
				for(i=0;i<len;i++)
				{  
					manipulate+='<li id="'+(i+1)+'">'+'<div class="card"><div class="card-header">'+'<span class="label label-danger">' +'Successful medicines for disease'+'</span>'+'</div>'+'<div  class="card-body"style="align:left">'+obj[i]+'<br><br>'+'<span class="label label-success">' +'Add this:'+'</span>'+'&nbsp;&nbsp;'+'<a  class="mybtn btn btn-success btn-xs" id="'+obj[i]+'"'+'style="margin-top:8px"><i class="fa fa-plus" style="margin-top:4px"></i></a>'+'</div>'+'</li>';
				}
			}
				$("#hello").html(manipulate);
			
				}
			
        });
	});
	$(document).ready(function(){
		
		$.ajax({
			url : '{% url "get_medicines" %}',
			 success: function(res){
				obj=JSON.parse(res)
				var len = Object.keys(obj).length;
			    
				$('#mytext').tagEditor({
					autocomplete: {
						delay: 0, 
						position: { collision: 'flip' }, 
						source:obj
					},
					placeholder: 'Enter Medicines...'
				});
				
			}
		});
	
 
});	
$(document).ready(function(){
	$(document).on('click' , '.mybtn' , function(){	
	var id = $(this).attr('id');
	$('#mytext').tagEditor('addTag',id);
  });
 
});	
  </script>
  <script src="{% static '/enterprise/js/jqueryui/jquery-ui.min.js' %}" ></script>
  <script>
	$(document).on("click", "#listen" , function(){
		var selected = $("#language").val();

       function upgrade() {
	          alert('Please use Google Chrome to run the application');
        }

 
	if (!(window.webkitSpeechRecognition) && !(window.speechRecognition)) {
	  upgrade();
	} else {
	  var recognizing,
	  transcription = document.getElementById('speech');
	  interim_span = document.getElementById('interim');

	  interim_span.style.opacity = '0.5';


	  function reset() {
		recognizing = false;
		speech.start();
	  }

	  var speech = new webkitSpeechRecognition() || speechRecognition();

	  speech.continuous = true;
	  speech.interimResults = true;
	  speech.lang =selected;
	  speech.start(); 

	  speech.onstart = function() {
		 
		  recognizing = true;
	  };

	  speech.onresult = function(event) {
		
		var interim_transcript = '';
		var final_transcript = '';

		
		for (var i = event.resultIndex; i < event.results.length; ++i) {
		  if (event.results[i].isFinal) {
			final_transcript += event.results[i][0].transcript;
		  } else {
			
			interim_transcript += event.results[i][0].transcript;
		  }
		}
		
		transcription.innerHTML = final_transcript;
		interim_span.innerHTML = interim_transcript;
		var a=transcription.innerHTML;
		var b=document.getElementById('opt').value;
		document.getElementById('opt').value=b+a;
	  };

	  speech.onerror = function(event) {
		 console.error(event.error);
	  };

	  speech.onend = function() {
		  reset();
	  };

	}
  


	});



  </script>
  <script>
	$(document).on("click", "#translate" , function(){
		speechdata = $("#opt").val();
        $.ajax({
            type:"GET",
            data:"data="+speechdata,
            url : '{% url "translate_function" %}',
 
            success: function(jsonresult){
				obj=JSON.parse(jsonresult)
				$("#op").val(obj['translatedText'])
				
			
		}
	});
	});

  </script>
	{% endblock%}
					
					