{% extends "enterprise/base.html" %}
{% load static %}
		
			{% block content %}
			

			 <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Suggestions</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li><a class="parent-item" href="#">Support</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active">Suggestions</li>
                            </ol>
                        </div>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.7138589354918!2d73.3616080145303!3d22.2888264853296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fda2400192473%3A0xc319c9237f2928e8!2sParul+University!5e0!3m2!1sen!2sin!4v1524247240295" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>Contact Us</header>
                                     
				                        
                                </div>
                                
                                <div class="card-body" id="bar-parent">
                                    <form action="{% url 'suggestion_evaluate' %}" method="GET" id="form_sample_1" class="form-horizontal" ng-app="myApp"  ng-controller="validateCtrl">
                                        <div class="form-body">
                                        <div class="form-group row">
                                                <label class="control-label col-md-3">Email-ID
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="email" ng-model="email" name="email" data-required="1"  value="{{request.session.email_of_user}}" class="form-control input-height" readonly/>
                                                    
                                                </div>
                                            </div>
    								<div class="form-group row">
                                                <label class="control-label col-md-3">Subject
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" name="subject" data-required="1" placeholder="Enter Subject" class="form-control input-height" required/> </div>
                                            </div>
                                                
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Suggestions
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <textarea name="details" placeholder="We are listening! write your valuable comments here.." class="form-control-textarea" rows="5" required></textarea>
                                            </div>
                                            </div>
											
											<div class="form-actions">
                                            <div class="row">
												<div class="offset-md-3 col-md-9">
                                                   <input  type="submit" class="btn btn-info" value="Suggest" ng-disabled=" myForm.email.$invalid"></input>
                                                    <a href="{% url 'base' %}" type="button" class="btn btn-default">Cancel</a>
                                                </div>
                                            	</div>
                                        	</div>
											
                                            </div>
                                            <br>
										</form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                
			
			            
			
			
			           
</div>



{% endblock%} 
        
		
        